{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ClassGPT</title>
    <link rel="icon" type="image/gif/png" href="{% static 'images/ClassGPT-Rocket.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles2.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>  

<body style="background-image: url('{% static 'images/ClassGPT-Background.png' %}')">
  <div class="container-overlay">
    <div class="overlay"></div>
    <img class="image" src="{%static "images/ClassGPT Rocket Logo-White.png" %}" alt="Overlay Image">
  </div>

  <ul id="selected" class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link disabled" href="#" style="color: rgb(255, 255, 255);">MENU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="true" href="#bot">ClassGPT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled-link" data-title="Feature Unavailable" href="#bot" style="color: #00A39F">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#help">Tutorial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled-link" data-title="Feature In Progress" href="#user">Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#logout">Sign Out</a>
    </li>
  </ul>
  <div class="center-container">
    <div id="bot">
      <div class="chat-container" style="height: calc(100% - 60px); overflow-y: auto;">
        <div class="card flex-grow-1">
          <div class="card-body messages-box" style="height: 100%;">
            <ul class="list-unstyled messages-list" style="width: 100%; margin-bottom: 0;">
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>ClassGPT</b>
                  </div>
                  <div class="message-content">
                    Hi {{user.username}}, I am ClassGPT, you can ask me anything.
                  </div>
                </div>
              </li>
              {% for chat in chats %}
              {% if chat.user == request.user %}
              <li class="message sent">
                <div class="message-text">
                  <div class="message-sender">
                    <b>You</b>
                  </div>
                  <div class="message-content">
                    {{chat.message}}
                  </div>
                </div>
              </li>
              <li class="message received">
                <div class="message-text">
                  <div class="message-sender">
                    <b>ClassGPT</b>
                  </div>
                  <div class="message-content">
                    {{chat.response}}
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <form class="message-form" style="position: sticky; bottom: 0;">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control message-input" placeholder="Type your message...">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-send">Send</button>
          </div>
        </div>
      </form>
    </div>
      <div id="history" style="display: none;">
        <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="{%static "images/placeholder1.png"%}" alt="First slide">
                <div class="carousel-caption d-none d-md-block"></div>
                <h5>First slide label</h5>
              </div>
              <div class="carousel-item">
                <img class="d-block" src="{%static "images/placeholder2.png"%}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block"></div>
                <h5>Second slide label</h5>
              </div>
              <div class="carousel-item">
                <img class="d-block" src="{%static "images/placeholder3.png"%}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block"></div>
                <h5>Third slide label</h5>
              </div>
              <div class="carousel-item">
                <img class="d-block" src="{%static "images/placeholder4.png"%}" alt="Fourth slide">
                <div class="carousel-caption d-none d-md-block"></div>
                <h5>Fourth slide label</h5>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="Prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="Next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>
      <div id="help" style="display: none;">
        <div class="container">
          <h2><center>Tutorial (video below is a placeholder)</center></h2>
              <video width="500" height="400" controls>
                <source src="{%static "images/Nice Ocean Waves.mp4"%}" type="video/mp4">
              </video>
        </div>
      </div>
      <div id="about" style="display: none;">
        <div class="container">
          <!-- Your content here -->
          <div class ="table">
          <div class = "row"></div>
            
            <h1 style = "margin-top: 1%">Meet the Developers:</h1>
            </div>
          <div class = "row">
            <div class = "square">
            <div>
              <img src="{%static "images/JacobAnderson.png" %}" alt="JacobAndersonPFP" style="width: 10%;height:auto;float: left; margin: 1%;"  >

            </div>
            <p style="text-align:justify;font-size: 91%;padding-top:0.4%">Jacob Anderson, born and raised in San Diego, CA, is a transfer student from Grossmont Community College. While he is a 4th year student pursuing a bachelor's degree in Computer Engineering, his professional background includes much of what a Mechanical Engineer would do. He is a full-time student and full-time employee expecting to graduate in Spring of 2024. </p>
            </div>
          </div>
          <div class = "row">
            <div class = "square">
            <div>
              <img src="{%static "images/IanJackson.png" %}" alt="IanJacksonPFP" style="width: 10%;height:auto;float: left; margin: 1%">
            </div>
            <p style="text-align:justify;font-size:91%;padding-top:0.4%">Ian Jackson-Little was born in Utah, raised in the bay, and now resides in San Diego while pursuing a degree in Computer Engineering. He currently is a DoD contractor for a software company. His expected graduation date is Fall 2023 and is excited for his future endeavors.
            </p>
            </div>
          </div>
          <div class = "row">
            <div class = "square">
            <div>
              <img src="{%static "images/LucaCapirossi.png"%}" alt="LucaCapirossiPFP" style="width:10%;height:auto;float:left;margin: 1%;">

            </div>
            <p style="text-align:justify;font-size:91%;padding-top:0.4%">Luca Capirossi, born in Ecuador and raised in the vibrant city of Las Vegas, NV, is a driven and ambitious individual. Currently in his fourth year at San Diego State University, Luca is pursuing a career in Computer Engineering.</p>
            </div>
            </div>
          <div class = "row">
            <div class = "square">
            <div>
              <img src="{%static "images/KevinKakkary.png"%}" alt="KevinKakkarypfp" style="width:10%;height:auto;float:left;margin: 1%;">

            </div>
            <p style="text-align:justify;font-size:91%;padding-top:0.4%">Kevin, a simple mortal man, carries with him an unassuming charm that captivates those around him. With a down-to-earth demeanor and a genuine smile, he effortlessly navigates through the complexities of life, reminding us of the beauty found in simplicity.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="user" style="display: none;">
        <div class="container">
          <form action="store_info.php" method="POST">
            <div class="form-grid">
              {% csrf_token%}
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="{{user.username}}" required>
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="{{user.email}}" required>
              </div>
              <div>
                <label for="id">ID#:</label>
                <input type="text" id="id" name="id" required>
              </div>
              <div>
                <label for="school">School:</label>
                <input type="text" id="school" name="school" required>
              </div>
              <div>
                <label for="major">Major:</label>
                <input type="text" id="major" name="major" required>
              </div>
              <div>
                <label for="graduation-year">Graduation Year:</label>
                <input type="text" id="graduation-year" name="graduation-year" required>
              </div>
            </div>
        
            <input type="submit" value="Save">
          </form>
        
          <form action="reset_password.php" method="POST">
            <div id="new-password">
              <input type="password" id="new-password-input" name="new-password" placeholder="New Password" disabled>
              <input type="button" id="save-password-button" value="Save Password" disabled>
            </div>
        
            <div class="reset-password">
              <input type="password" id="current-password" name="current-password" placeholder="{{user.password}}" required>
              <input type="button" id="reset-password-button" value="Reset Password">
            </div>
          </form>
        </div>
      </div>
      <div id="logout" style="display: none;">
        <div class="container">
          <!-- Your logout content here -->
          <h1>Sign Out</h1>
          <p>Are you sure you want to sign out?</p>
          <a class="btn btn-primary" href="logout">Sign Out</a>
        </div>
      </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{%static "js/CarouselEvent.js"%}" ></script>
  <script src="{%static "js/Tab-Press-Handler.js" %}"></script>
  <script src="{%static "js/classgpt-bot.js" %}"></script>
  
  <div id="footer">
    <div class="container-footer">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="footer-text">
            <div class="contact-info">
              <p class="contact-line">
                <i class="fas fa-envelope"></i>
                <span class="contact-value" style="font-size: 13px;">classgpt@gmail.com</span>
              </p>
              <p class="contact-line">
                <i class="fas fa-copyright"></i>
                <span class="contact-value" style="font-size: 13px;">2023</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
  
</html>
