{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>ClassGPT</title>
  <link rel="icon" type="image/gif/png" href="ClassGPT-Rocket.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head> 
<body style="background-image: url('{% static 'images/SDSU-Library-at-Night.jpg' %}')">
  <div class="container-overlay">
    <div class="overlay"></div>
    <img class="image" src="{% static 'images/ClassGPT Rocket Logo-White.png' %}" alt="Overlay Image">
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="custom-columns">
          <div class="row">
            <div class="col"><!-- Column 1 content here -->
              <!-- Column 1 content here -->
              <h2><center>About</center></h2>
              <p id="about-info">Embracing the vision of empowering students with intelligent automation, ClassGPT revolutionizes the class scheduling experience at SDSU. Say goodbye to scheduling headaches and welcome a seamless, efficient, and personalized approach to planning your academic journey. With ClassGPT, students can unlock the full potential of their college experience by effortlessly creating a schedule that optimizes their learning and paves the way for success.<br><br><br>
              Contributors: Jacob Anderson, Luca Capirossi, Ian Jackson-Little, Kevin Kakkary.</p>
              <img src="{% static 'images/AI-in-the-classroom-01.png' %}" alt = "AI Pic" style="width:20%;height:auto;margin-left: 38%;">
            </div>
            <div class="col"><!-- Column 2 content here -->
              <!-- Column 2 content here -->
              <div class="card text-center">
                <div class="custom-card-header card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="true" href="#signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link" href="register">Sign Up</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div id="signin" class="card-body"><!-- Sign In form content here -->
                    {% if error_message %}
                      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                    {% endif %}
                    <form method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="email">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="Enter your username">
                      </div>
                      <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password">
                      </div>
                      <button id = "buttonPageChange" type="submit" class="btn btn-custom">Sign In</button>
                    </form>
                  </div>
                  <div id="signup" style="display: none" class="card-body"><!-- Sign Up form content here -->
                    {% if error_message %}
                      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                      {% endif %}
                    <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                      </div>
                      <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                      </div>
                      <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                      </div>
                      <button type="submit">Register</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col"><!-- Column 3 content here -->
              <!-- Column 3 content here -->
              <h2><center>Tutorial</center></h2>
              <video width="358" height="250" controls>
                <source src="{% static 'images/Nice Ocean Waves.mp4' %}" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'js/Button-Page-Change.js' %}"></script>

  <div id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="footer-text">
            <div class="contact-info">
              <p class="contact-line">
                <i class="fas fa-envelope"></i>
                <span class="contact-value" style="font-size: 13px;">classgpt@gmail.com</span>
              </p>
              <p class="contact-line">
                <i class="fas fa-copyright"></i>
                <span class="contact-value" style="font-size: 13px;">2023</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


  
</html>
