{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block styles %}
<style>
  body {
    background-color: ;
  }
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    max-width: 1000px;
    width: 35%;
    border: 5px solid #D41736;
    border-top-left-radius: 12px; /* Adjust the border-radius values to make the corners more square */
    border-top-right-radius: 12px;
  }
  .card-header {
    background-color: #D41736;
    color: white;
    font-size: 24px;
    text-align: center;
  }
  .card-body {
    padding: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  button[type=submit] {
    background-color: #00A39F;
    margin: 20px;
    display: block;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translateX(123.5%);
  }
  button[type=submit]:hover {
    background-color: #0062cc;
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
  }
  #Label {
    text-align: center;
  }
  #Label2{
    text-align: center;
  }
  #Label3{
    text-align:center;
  }
  #Label4{
    text-align:center;
  }
  #footer-text {
  text-align: center;
  color: #00A39F;
  padding: 1px 0;
  border-top: .1px solid #00A39F;
  border-bottom: .1px solid #00A39F;
  border-left: .3px solid #00A39F;
  border-right: .3px solid #00A39F;
  background-color: rgba(51, 57, 60, 0.7);
  border-radius: 100px;
  
}


#footer-text .contact-info .contact-line {
  margin-bottom: 3px;
  font-size: 14px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease-in-out forwards;
  
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-line {
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-line:hover {
  transform: scale(1.2);
}

#footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 46px 0;
  text-align: center;
}

#footer-text {
  margin-bottom: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">Register</div>
    <div id="signup" class="card-body">
      <!-- Sign Up form content here -->
      {% if error_message %}
      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label id='Label' for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required placeholder='Enter Username'>
        </div>
        <div class="mb-3">
          <label id='Label2' for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" required placeholder='Enter Email'>
        </div>
        <div class="mb-3">
          <label id='Label3' for="password1">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" required placeholder='Enter Password'>
        </div>
        <div class="mb-3">
          <label id='Label4' for="password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" required placeholder='Confirm Password'>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container-footer">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div id="footer-text">
          <div class="contact-info">
            <p class="contact-line">
              <i class="fas fa-envelope"></i>
              <span class="contact-value" style="font-size: 13px;">classgpt@gmail.com</span>
            </p>
            <p class="contact-line">
              <i class="fas fa-copyright"></i>
              <span class="contact-value" style="font-size: 13px;">2023</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
